nav > ul{
    display: flex;
}

nav li{
   list-style: none;
   margin-right: 20px; 
   padding: 0px 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav li:hover{
    background-color:gray;
}
nav > ul > li:hover > ul{
    display: block;
}
.dropedown{
    display: none;
    position: absolute;
    background-color: bisque;
    padding: 0px;
}
.dropedown li{
    padding: 0px 20px;
    margin: 0px;
}